<h1>Submit user information</h1>

<form action="/users/create" method="post" class="form">

<div class="form-control">
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Type in the user's name">
</div>

<div class="form-control">
    <label for="occupation">Ocupation:</label>
    <input type="text" name="occupation" placeholder="Type in the user's occupation">
</div>

<div class="form-control form-checkbox">
    <input type="checkbox" name="newsLetter" placeholder="Newsletter?">
    <label for="newsletter">Newsletter</label>
</div>

<h2>Adress:</h2>


<div class="form-control">
    <label for="street">street:</label>
    <input type="text" name="street" placeholder="Type in the user's street">
</div>


<div class="form-control">
    <label for="city">city:</label>
    <input type="text" name="city" placeholder="Type in the user's city">
</div>


<div class="form-control">
    <label for="complement">complement:</label>
    <input type="text" name="complement" placeholder="Type in the user's occupation">
</div>


<div class="form-control">
    <label for="number">number:</label>
    <input type="text" name="number" placeholder="Type in the user's number">
</div>

<input type="submit" value="Send">

</form>

<h1>Usuários Já Cadastrados:</h1>
<div class="container">

    {{#each users}}

    <div class="item">

        <h2>{{this.name}}</h2>
        <p>{{this.occupation}}</p>

        <div class="actions">

            <a href="/users/{{this.id}}" class="details-btn">Ver detalhes</a>
            <a href="/users/edit/{{this.id}}">Editar</a>
             <a href="/users/addDependent/{{this.id}}">Adicionar Dependente</a>
            <form action="/users/delete/{{this.id}}" method="post">
                <input class="delete-btn" type="submit" value="Excluir">
            </form>
        </div>
        
    </div>

    {{/each}}

</div>